

.wrapper {
  margin: 0 auto;
  margin-top: 70px;
  padding: 10px;
  box-shadow: 0 0 5px red;
}

.main-header {
  text-align: center;
  font-weight: bold;
  font-size: 2.6rem;
  color: deepskyblue;
  text-shadow: 0 0 1px black;
  margin-top: 60px;
}

.first-block, .second-block {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.btn-group {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  border-top: 1px solid red;
}
